.head{
    height: 75px;
    background-color: black;
    align-items: center;
    display: flex;
    padding: 0 80px;
    justify-content: space-around;
}

.navbar{
    padding: 20px 0 0 400px;
}
div ul{
color: white;
display: flex;
gap: 25px;
list-style: none;

}


.img-1{
    height: 72px;
    width: 165px;
}

div img{height: 100%;
width: 100%;}

.btn-1{
    background-color: transparent;
    color: white;
    border: 1px solid white ;
    padding: 15px;
    border-radius: 20px;
}


.btn-2{
    background-color: red;
    color: white;
    border: 1px solid red ;
    padding: 15px;
    border-radius: 20px;
    
}

.icn{
    color: red;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 2px;
}